# Binários compilados
*.o
*.out
*.exe
*.a
*.so

# Diretórios de build
/build/
bin/
obj/

# Arquivos temporários
*.log
*.tmp
*.swp
*.json

# VSCode / VSCodium

C_Learn/.vscode/*
.vscode-test/

# Sistema
.DS_Store
Thumbs.db
